*{margin: 0;padding: 0;box-sizing: border-box;}
.khungto{
    width: 1020px;
    height: auto;
    margin: 0 auto;
}
header{
    width: 1040px;
    height: 250px;
    padding: 30px 5px;
}
header>img{
    width: 350px;
    height: 200px;
}
nav{
    background: rgb(102, 102, 255);
    height: 58px;
}
nav>ul{
    display: flex;
    list-style: none;
    padding: 20px  ;
}
nav>ul>li>a{
    text-decoration: none;
    padding: 20px;
    margin-left: 70px;
    font-variant: small-caps;
    color: white;
}
nav>ul>li>a:hover{
    background-color: rgb(107, 213, 107);
}
.khungbe{
    display: flex;
    width: 1020px;
    height: auto;
}
.khung1{
    width: 70%;
    height: auto;
}
.pro-new{
    height: 350px;
    padding: 15px;
    display: flex;
    text-align: center;
}
.pro-new-item{
    width: 100%;
    height: 290px;
    border: 1px solid #000;
    text-align: center;
    padding: 15px 0;
    margin: 5px;
}
.pro-img{
    height: 150px;
    width: 80%;
}
.pro-name{
    margin: 10px 0;
    font-size: 19px;
}
.pro-name a{
    color: cornflowerblue;
    text-decoration: none;
}
.pro-name a:hover{
    color: red;
}
.price{
    color:black; font-weight: bold;
    font-size: 17px;
}
.price:hover{
    color: red;
}
.nut{
    width: 60px;
    background-color: greenyellow;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.nut:hover{
    background-color: aqua;
}

.tieude{
    width: 100%;
    height: 50px;
    background-color: rgb(102, 102, 255);
    padding: 12px ;
}
.tieude h2{
    color: white;
}

.khung2{
    width: 29%;
}

.form{
    width: 90%;
    height: 110px;
    border: 1px solid black;
    margin: 0 auto;
}
.form h3{
    padding: 10px;
}
.form input{
    margin: 5px 10px;
}
.timkiem{
    width: 80px;
    height: 20px;
}
.timkiem:hover{
    background-color: aliceblue;
}

footer{
    width: 1040px;
    height: 50px;
    background: rgb(211, 209, 202);
    padding: 15px;
}
footer>a{
    text-decoration: none;
    color: rgb(88, 88, 255);
   margin-left: 400px;
}