#layout{
    width: 1000px;
    margin: 0px auto;
}
header{
    width: 100%;
    height: 300px;
    background-image: url(/LAB4/img/banner.jpg);
    background-size: cover
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
   
   
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.menu-left{
    display: flex;
}
.menu-right{
display: flex;
}
.menu li{
    list-style: none;
    padding-left:10px ;
    position: relative;
    padding-right: 10px;
}
.menu li a{
    text-decoration: none;
    color: red;
    font-size: 22px;
    padding-left:20px ;
}
.menu li a:hover{
    text-decoration: underline;
    color:black;
    font-weight: bold;
}
.noidung{
    display: flex;
    background-color: bisque;
}
article{
    width: 75%;
    height: 400px;
}
aside{
    width: 25%;
    height: 400px;
    background-color: rgb(195, 196, 201);
}
.sub-menu{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px orange;
    list-style: none;
    width: 220px;
    position: absolute;
    display: none;
}
.sub-menu>li>a{
    margin-top: 5px;
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted orange;
    text-decoration: none;
    background: url(icon1.jpg) no-repeat 2px center;
    background-size: 15px;
    padding-left: 30px;
    color: orange;
}
.sub-menu>li>a:hover{
    background: url(icon2.jpg) no-repeat 2px center;
    background-size: 15px;
    color: aliceblue;
    font-weight: bold;
    background-color: orange;
}
.menu li:hover>.sub-menu{
    display: block;
}

.mndung{
    border: 1px solid yellow;
    margin: 0px auto;
    list-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px 3px red;
    background-color: orange;
}
.mndung li a{
    text-decoration: none;
    height: 49px;
    padding-left: 40px;
    border-top: 1px dotted yellow;
   display: block;
    line-height: 40px;
    background: url(/LAB4/img/icon1.jpg) no-repeat 10px center;
    background-size: 20px;
}
.mndung li a:hover{
    background: url(icon2.jpg) no-repeat 10px center;
    background-size: 20px;
    color: red;
    background-color:yellowgreen;
}
footer{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    border-top: 5px double red;
    margin-top: 5px;
    line-height: 100px;
    text-align: center;
    font-variant: small-caps;
}
