#layout{
    width: 1300px;
    margin: 0px auto;
}
header{
    width: 100%;
    height: 300px;
    background-image: url(img/banner4.jpg);
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: lato;
    color: black;
}
nav{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background-color: #DA251C;
}
nav .menu1{
    list-style: none;
}
nav .menu1  li{
    float:left;
    padding: 0 25px;
    border-right: 1px solid gray;
}
nav .menu1 li:hover{
    background-color: yellow;
}
/* nav .menu1  li a:visited{
    color: blue;
} */
nav .menu1  li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: roboto;
    font-size: 20px;
    line-height: 40px;
}
nav .menu2{
    float: right;
    line-height: 40px;
}
nav .menu2 input{
    border-radius: 5px 0 0 5px;
    border: none;
    outline:none;
    margin: 0px;
    padding: 7px 10px;
}
nav .menu2 button{
    padding: 7px 10px;
    background-color: yellow;
    border: none;
    outline: none;
    margin-left: -5px;
}
.chuchay{
    position: relative;
    margin-bottom: 5px;
}
.noidung{
    display: flex;
}
.box{
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px 15px;
    border: 1px solid gray;
}
.box .vanban h2{
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20spx;
    
}
.box .vanban h2 a{
    text-decoration: none;
    color: rgb(190, 26, 26);
    margin-left: 10px;
}
.box .vanban h2 a:hover{
    color: yellowgreen;
}
.box .vanban p{
    font-size: 18px;
    font-variant: initial;
    font-weight: bold;
    margin-left: 5px;
}
article{
    width: 75%;
    height: auto;
}
aside{
    width: 25%;
    height: auto;
    border-right: 1px solid gray;
}
h3{
    font-size: 22px;
    padding: 10px 15px;
    background: #DA251C;
    color: #fff;
    text-shadow: 1px 1px 5px #DA251C;
}
.menudoc ul{
    list-style: none;
}
.menudoc ul li{
    padding: 10px 15px;
    background-color: while;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.menudoc ul li a{
    text-decoration: none;
    height: 30px;
    padding-left: 40px;
    /* border-top: 1px dotted yellow; */
    /* border-radius: 10px; */
    display: block;
    line-height: 30px;
    background:url(/Lab4/img/img/icon1.jpg) no-repeat 10px center;
    background-size: 15px;
    color: black;
}
.menudoc ul li:hover{
    background-color: yellow;
}
.menudoc ul li a:hover{
    background: url(/Lab4/img/img/icon2.jpg) no-repeat 10px center;
    background-size: 15px;
    color: red;
    background-color: yellowgreen;
}
footer{
    width: 100%;
    clear:both;
    height: auto;
    background-color: #DA251C;
}
.rieng{
    display: flex;
}
.ft1{
    float:left;
    width: 400px;
    margin-bottom: 25px;
    padding: 5px 10px;
}
.ft1 p{
    font-size: 20px;
    font-weight: bold;
}
.ft2{
    flex:1;
    padding: 5px 10px;
}
.ft2 p{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.ft2 input{
    border-radius: 5px 0 0 5px;
    border: none;
    outline:none;
    margin: 0px;
    padding: 7px 10px;
}
.ft2 button{
    padding: 7px 10px;
    border-radius: 0 5px 5px;
    background-color: yellow;
    border: none;
    outline: none;
    margin-left: -5px;
    margin-top: 7px;
    margin-bottom: 7px;
}
nav .menu2 button:hover{
    background-color: blue;
}
footer h3{
    padding: 15px;
    font-size: 22px;
}
.ft3{
    width: 100%;
    clear: both;
    height: 40px;
    background-color: crimson;
}
.ft3 p{
    color: black;
    font-size: 24px;
    font-variant: small-caps;
    text-align: center;
    margin: 27px 0px 0px 0px;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #E9ECEF; /* Màu vàng */
    color: #DA251C; /* Màu chữ (đen) */
    font-size: 20px;
    font-family:'Roboto', sans-serif !important;
    font-weight: bold;
  }

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }