#class{
    width: 900px ;
    margin: 0px auto;
    border: 2px solid gray;
}

header{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 60px;
    background-color:rgb(12, 85, 8);
}
.menu{
    
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-variant: small-caps;
    
}



.menu a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.menu a:hover{
    color: red;
    text-decoration: underline;
}

.abc1 {
    background-color: gray;
    border: 2px solid black;
    border-radius: 9px;
    color: white;
}
.abc1:hover{
    background-color: aqua;
    color: black;
    box-shadow: 5px 5px red;
}

nav .link1{
    padding-left: 40px;
    display: flex;
}
nav .link2{
    display: flex;
    padding-right: 40px;
}

.noidung{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: white;
}

article{
    width: 75%;
    height: 500px;
    
}

article .part{
    width: 80%;
    height: 500px;
    float: right;
    background-color: rgb(66, 64, 64);
}


aside{
    color: rgb(57, 52, 52);
    width: 25%;
    height: 500px;
    
}
.text-right{
    padding-left: 10px;
}

.text-right h6{
    font-weight: unset;
}
aside hr{
    height: 3px;
    background-color:rgb(57, 52, 52);
}

.abc button{
    background-color:rgb(12, 85, 8);
    color: white;
    
}
.abc{
    padding-left: 60px;
}

.vien{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.hinhchunhat{
    display: flex;
    border: 1px solid white;
    padding: 20px;

}

.hinhchunhat div{
    color: white;
}
.anhbentrai{
    float: left;
}
footer{
    width: 100%;
    height: 60px;
    background-color:rgb(12, 85, 8);
    color: white;
    font-size: larger;
    font-variant: small-caps;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu2{
    padding-left: 10px;
}
aside h4{
    padding-left: 10px;
}